<section class="hero is-info" routerLink="/groups" *ngIf="isLoggedIn">
  <div class="hero-body">
    <p class="title">
      My groups
    </p>
    <p class="subtitle">
      Click to show all of them
    </p>
  </div>
</section>
<footer class="footer" *ngIf="!isLoggedIn">
  <div class="content has-text-centered">
    <p>
      <strong>You are not authorized</strong>
      <br>
      Please <a routerLink="/login"> log in </a> first
    </p>
  </div>
</footer>
<div class="container">

  <div class="buttons">
    <button class="button is-primary is-light is-large" [disabled]="!isLoggedIn" routerLink="groups/create/">Create</button>
    <button class="button is-link is-light is-large" [disabled]="!isLoggedIn" routerLink="groups/join">Join</button>
  </div>
</div>

