<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <title>Group details</title>
</head>


<section class="section">
  <form class="" name="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="topDate">
  <span class="icon is-large" (click)="setPrevDay();resetData()">
    <i class="fas fa-arrow-left fa-2x"></i>
  </span>
      <div class="content is-medium">
        <h1>
          {{currentDate.toLocaleDateString()}}
        </h1>
      </div>
      <span class="icon is-large" (click)="setNextDay();resetData()">
         <i class="fas fa-arrow-right fa-2x"></i>
      </span>


    </div>
    <div class="box">
      <mat-progress-spinner mode="indeterminate" *ngIf="!fetchedData"></mat-progress-spinner>
      <div class="table-container" *ngIf="fetchedData">
        <table class="table is-striped is-narrow ">
          <thead>
          <tr>
            <th></th>
            <th *ngFor="let item of user_names"> {{item}}
            </th>
          </tr>

          </thead>

          <tbody #table>
          <tr>
            <th>08:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(800,item)}}"
                (click)="setTime(800)">

              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,800)" (click)="deleteInterval(800)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(801,item)}}"
                (click)="setTime(801)">

              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,801)" (click)="deleteInterval(801)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>09:00</th>
            <th *ngFor="let item of user_colors" [attr.id]=item+900
                style="{{hourIsActive(900,item)}}"
                (click)="setTime(900)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,900)" (click)="deleteInterval(900)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(901,item)}}"
                (click)="setTime(901)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,901)" (click)="deleteInterval(901)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>10:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1000,item)}}"
                (click)="setTime(1000)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1000)" (click)="deleteInterval(1000)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1001,item)}}"
                (click)="setTime(1001)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1001)" (click)="deleteInterval(1001)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>11:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1100,item)}}"

                (click)="setTime(1100)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1100)" (click)="deleteInterval(1100)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1101,item)}}"
                (click)="setTime(1101)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1101)" (click)="deleteInterval(1101)"></div>
              </div>
            </th>
          </tr>
          <tr>
            <th>12:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1200,item)}}"
                (click)="setTime(1200)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1200)" (click)="deleteInterval(1200)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1201,item)}}"
                (click)="setTime(1201)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1201)" (click)="deleteInterval(1201)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>13:00</th>
            <th *ngFor="let item of user_colors"
                [attr.style]="hourIsActive(1300,item)"

                (click)="setTime(1300)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1300)" (click)="deleteInterval(1300)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                [attr.style]="hourIsActive(1301,item)"
                (click)="setTime(1301)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1301)" (click)="deleteInterval(1301)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>14:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1400,item)}}"
                (click)="setTime(1400)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1400)" (click)="deleteInterval(1400)"></div>
              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1401,item)}}"
                (click)="setTime(1401)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1401)" (click)="deleteInterval(1401)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>15:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1500,item)}}"
                (click)="setTime(1500)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1500)" (click)="deleteInterval(1500)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1501,item)}}"
                (click)="setTime(1501)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1501)" (click)="deleteInterval(1501)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>16:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1600,item)}}"
                (click)="setTime(1600)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1600)" (click)="deleteInterval(1600)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1601,item)}}"
                (click)="setTime(1601)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1601)" (click)="deleteInterval(1601)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>17:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1700,item)}}"
                (click)="setTime(1700)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1700)" (click)="deleteInterval(1700)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1701,item)}}"
                (click)="setTime(1701)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1701)" (click)="deleteInterval(1701)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>18:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1800,item)}}"
                (click)="setTime(1800)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1800)" (click)="deleteInterval(1800)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1801,item)}}"
                (click)="setTime(1801)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1801)" (click)="deleteInterval(1801)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>19:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1900,item)}}"
                (click)="setTime(1900)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1900)" (click)="deleteInterval(1900)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(1901,item)}}"
                (click)="setTime(1901)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,1901)" (click)="deleteInterval(1901)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>20:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(2000,item)}}"
                (click)="setTime(2000)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,2000)" (click)="deleteInterval(2000)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(2001,item)}}"
                (click)="setTime(2001)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,2001)" (click)="deleteInterval(2001)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>21:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(2100,item)}}"
                (click)="setTime(2100)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,2100)" (click)="deleteInterval(2100)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(2101,item)}}"
                (click)="setTime(2101)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,2101)" (click)="deleteInterval(2101)"></div>

              </div>
            </th>
          </tr>
          <tr>
            <th>22:00</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(2200,item)}}"
                (click)="setTime(2200)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,2200)" (click)="deleteInterval(2200)"></div>

              </div>

            </th>
          </tr>
          <tr>
            <th>&nbsp;</th>
            <th *ngFor="let item of user_colors"
                style="{{hourIsActive(2201,item)}}"
                (click)="setTime(2201)">
              <div class="field-wrapper">
                <div class="field-remove form-remove " *ngIf="deleteButtonIsOn(item,2201)" (click)="deleteInterval(2201)"></div>

              </div>
            </th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <nav class="level is-mobile" *ngIf="addForm.time_start">
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">Start time</p>
          <p class="title">
            <mat-form-field>
              <input matInput class="time-input"
                     name="selected_time_start"
                     [format]="24"
                     [(ngModel)]="parsedTime_start"
                     [ngxMatTimepicker]="pickerA"
                     [min]="'08:00'"
                     [max]="'22:00'"

                     readonly/>
              <mat-icon matSuffix
                        (click)="pickerA.open()">
                watch_later
              </mat-icon>
            </mat-form-field>
            <ngx-mat-timepicker color="primary"
                                [minutesGap]="30"
                                (timeSet)="timepickerToAddForm($event,0)"
                                #pickerA>

            </ngx-mat-timepicker>
          </p>
        </div>
      </div>
      <div class="level-item has-text-centered">
        <div>
          <p class="heading">End time </p>
          <p class="title">
            <mat-form-field>
              <input matInput class="time-input"
                     name="selected_time_end"
                     [format]="24"
                     [(ngModel)]="parsedTime_end"
                     [ngxMatTimepicker]="pickerB"
                     [min]="'08:00'"
                     [max]="'22:00'"

                     readonly/>
              <mat-icon matSuffix
                        (click)="pickerB.open()">
                watch_later
              </mat-icon>
            </mat-form-field>
            <ngx-mat-timepicker color="primary"
                                [minutesGap]="30"
                                (timeSet)="timepickerToAddForm($event,1)"
                                #pickerB></ngx-mat-timepicker>
          </p>
        </div>
      </div>


      <div class="level-item has-text-centered">
        <div>
          <p class="heading"></p>
          <button class="button is-primary">Add</button>
        </div>
      </div>
      <div class="form-remove" (click)="closeForm()">
      </div>
    </nav>


  </form>
</section>
