<html>
<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  <title>About me</title>
</head>
<body>


<section class="section">
  <div class="container">
    <h1 class="title">
      Hi!
    </h1>
    <p class="subtitle">
      My name is Dmytro Kondrashov and I currently work on this project: <strong
      routerLink="/scheduler">Scheduler</strong>!
    </p>
    <div class="content is-medium">
      <p>I use following technology stack: </p>
      <ol type="A" class="content ">
        <li>Java Spring Boot providing the RESTful services 🛠</li>
        <li>PostgreSQL💾</li>
        <li>Angular/HTML/SCSS🍜</li>
        <li>Docker🐳</li>
      </ol>
      <div class="content">
        <p>Check out source code at
        </p>
        <button class="button is-medium" (click)="goToGithubUrl()">
           <span class="icon">
            <i class="fab fa-github"></i>
           </span>
            <span>GitHub</span>
        </button>
      </div>


      <p>If you want to get in touch: feel free to write me on <strong>kondrashov@gmx.at</strong></p>
    </div>
  </div>

</section>

</body>
</html>

